@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #ffffff;
    background-color: #000000;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::selection {
    background: #7e7e7e7d;
}
